@import 'src/styles/dimensions';
@import 'src/styles/themes';

.course-no-students {
  color: rgba($black, .5);
  font: {
    style: italic;
  };
  padding: .25rem 0;
}

.course-students {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  gap: .25rem;
}
