@import 'src/styles/dimensions';
@import 'src/styles/themes';

.header {
  background: $black;
  color: $white;
  display: block;
  padding: .5rem;
  position: fixed;
  width: 100%;
  z-index: 2;

  .header-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }

  .header-logo-box {
    align-items: center;
    display: flex;
    flex-direction: row;

    .header-logo {
      font: {
        size: 24px;
        weight: 600;
      }
    }

    .header-role {
      font: {
        size: 24px;
        weight: 300;
      }
    }
  }

  .header-user {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: flex-end;

    .header-login {
      @media (screen and min-width: $mobile-breakpoint) {
        display: none;
      }
    }
  }
}
