.organization-create-summary {
  display: flex;
  flex-direction: column;

  .organization-create-summary-head {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
  }

  .organization-create-summary-credentials {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0 1rem;
  }
}
