@import 'src/styles/dimensions';
@import 'src/styles/themes';

.organizations-tile {
  align-items: center;
  border: 1px solid rgba($black, .1);
  border-radius: $subtle-radius;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: .25rem;
  padding: .5rem .75rem;

  .organizations-tile-meta {
    display: flex;
    flex-direction: column;
    gap: .15rem;

    .organizations-tile-title {
      font: {
        weight: 500;
      };
    }

    .organizations-tile-subtitle {
      color: rgba($black, .5);
      font: {
        size: 10pt;
        weight: 400;
      };
    }
  }
}
