@import 'src/styles/themes';

.login-form-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 90vh;
  justify-content: center;
  padding: 2rem;

  .login-form {
    display: flex;
    flex-direction: column;

    .login-form-group {
      display: flex;
      flex-direction: row;
      padding: .15rem 0;

      label {
        flex: 2;
      }

      input {
        flex: 3;
      }
    }

    label {
      font: {
        size: 14px;
      }
    }

    input {
      border-bottom: 1px solid $gray;
      padding: .25rem;

      &:focus {
        border-bottom: 1px solid $blue;
        outline: none;
      }
    }

    button {
      margin: 2rem 0;
    }
  }
}
