@import 'src/styles/dimensions';
@import 'src/styles/themes';

.login-form-box {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $mobile-breakpoint) {
    height: auto;
  }

  .login-form {
    display: flex;
    flex-direction: column;

    .login-form-groups {
      margin: .75rem 0;

      .login-form-group {
        align-items: center;
        display: flex;
        padding: .2rem 0;

        label {
          flex: 2;
          font: {
            size: 14px;
          };
          padding: 0 1rem 0 0;
        }

        .login-form-field {
          align-items: center;
          display: flex;
          flex: 3;
          position: relative;

          .login-form-input {
            border: 1px solid rgba($black, .15);
            border-radius: $subtle-radius;
            font: {
              size: 14px;
            };
            padding: .3rem .75rem;
            width: 100%;

            &:focus {
              border: 1px solid $black;
              outline: none;
            }
          }

          .login-form-show-password {
            color: rgba($black, .6);
            height: 20px;
            position: absolute;
            right: 7px;
            top: 2px;

            &:hover {
              color: $black;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
