@import 'src/styles/dimensions';
@import 'src/styles/themes';

.main {
  color: $black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: $navbar-height 0 0;
  width: 100%;
}
