@import 'src/styles/dimensions';
@import 'src/styles/fonts';
@import 'src/styles/themes';

/* General */

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font: {
    family: $system;
    size: 15px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
  cursor: pointer;
}

code {
  font: {
    family: $monospace
  };
}

/* headers */

h1 {

}

h2 {
  font: {
    size: 22px;
    weight: 600;
  }
  line-height: 110%;
  padding-bottom: .5rem;
}

h3 {
  padding-bottom: .5rem;
}
