@import 'src/styles/dimensions';
@import 'src/styles/themes';

.navbar {
  background: $black;
  color: $white;
  display: block;
  padding: .5rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  .navbar-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }

  .navbar-logo {
    font: {
      size: 24px;
      weight: 600;
    }
  }

  .navbar-user {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: flex-end;

    .navbar-user-name {
      font: {
        size: 13px;
      }
    }
  }
}
