@import "src/styles/themes";

.grade-dropdown {
  display: flex;
  flex-direction: column;

  &-head {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .75rem;

    &-text {
      display: flex;
      flex-direction: column;
      line-height: 1.3;
    }

    &-actions {
      display: flex;
      flex-direction: row;
      gap: .125rem;
      margin-left: auto;
    }

    &-category {
      font: {
        size: 14px;
        weight: 600;
      }
    }

    &-value {
      color: rgba($black, .75);
      font: {
        size: 12px;
        weight: 400;
      }
    }
  }
}