@import 'src/styles/themes';

.organizations {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
  width: 100%;

  .organizations-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  table.organizations-listing {
    border-collapse: collapse;
    font: {
      size: 13px;
    }
    margin: .75rem 0;
    text-align: left;;

    tr {
      border-bottom: 1px solid rgba($black, .1);
    }

    td, th {
      padding: .5rem 1rem;
    }

    th {
      background-color: $gray;
      border-bottom: 2px solid rgba($black, .1);
    }
  }
}
