@import 'src/styles/dimensions';
@import 'src/styles/themes';
@import 'src/styles/util';

.main-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100vh - #{$navbar-height});
  padding: .5rem 0;
  width: 100%;

  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
    height: 100%;
    padding: 0 .5rem;
  }

  .main-page-col {
    @include hide-scrollbar;

    display: flex;
    overflow: scroll;
    padding: 1rem 1.75rem;

    @media screen and (max-width: $mobile-breakpoint) {
      padding: 1rem;
    }
  }

  .main-page-left {
    @extend .main-page-col;
    @include hide-scrollbar;

    flex: 4;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: flex-start;
    margin: 0 auto;

    @media screen and (max-width: $mobile-breakpoint) {
      border-bottom: 1px solid rgba($black, .25);
    }
  }

  .main-page-right {
    @extend .main-page-col;

    border: 0;
    border-left: 1px solid rgba($black, .25);
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;

    @media screen and (max-width: $mobile-breakpoint) {
      border: 0;
      max-width: 95vw;
      min-height: calc(100vh - #{$navbar-height});
    }

    .main-page-jump-top {
      font: {
        size: 12px;
      }
      text: {
        align: right;
        decoration: underline;
      }
      @media screen and (min-width: $mobile-breakpoint) {
        display: none;
      }
    }

    .main-page-copy {
      .main-page-copy-desc {
        font: {
          size: 14px;
          weight: 300;
        }
      }
    }
  }
}
