@import 'src/styles/dimensions';
@import 'src/styles/themes';

.course-details {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  .course-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .course-action-group {
      display: flex;
      flex-direction: row;
      gap: .25rem;
      justify-content: center;

      @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
      }
    }
  }

  .course-details-head {
    padding: 0 .5rem;

    .course-code {
      font: {
        size: 36px;
        weight: 700;
      };
    }

    .course-school-year {
      color: rgba($black, .5);
      font: {
        size: 14px;
      };
    }
  }

  .course-details-meta {
    background: #fff;
    border: 1px solid $gray;
    border-radius: $subtle-radius;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    margin: 0 0 1rem;
    padding: .75rem;
  }
}
