@import 'src/styles/dimensions';
@import 'src/styles/themes';

.menu-item {
  border-radius: $subtle-radius;
  cursor: pointer;
  display: block;
  padding: .75rem;
  transition-duration: 100ms;
  width: 100%;

  &:hover {
    background-color: $gray;
  }
}

.menu-item-icon {
  svg, img {
    height: 18px;
    width: 18px;
  }
}
