@import 'src/styles/themes';

.footer {
  color: rgba($black, .5);
  display: flex;
  flex-direction: column;
  font: {
    size: 11px;
  }
  gap: 1.75rem;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 .75rem;

  .footer-logo {
    font: {
      size: 16px;
      weight: bold;
    }
  }

  .footer-columns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    max-width: 450px;
    width: 100%;

    .footer-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 0.25rem;

      .footer-column-header {
        font: {
          weight: bold;
        }
        padding-bottom: .5rem;
      }
    }
  }

  .footer-copyright {
  }
}
