.course-details-data {
  display: flex;
  flex-direction: column;
  gap: .125rem;

  .course-class-teacher {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .3rem;
  }
}
