@import 'src/styles/dimensions';
@import 'src/styles/themes';
@import 'src/styles/util';

.main-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100vh - #{$navbar-height});
  margin: $navbar-height auto 0;
  max-width: 1200px;
  padding: .5rem 0;
  width: 100%;

  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column-reverse;
    height: 100%;
    padding: 0 .5rem;
  }

  .main-page-col {
    padding: .25rem 1rem;
  }

  .main-page-left {
    @extend .main-page-col;
    @include hide-scrollbar;

    display: flex;
    flex: 4;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: flex-start;
    margin: 0 auto;
    overflow: scroll;
    padding: .5rem 1rem;
  }

  .main-page-right {
    @extend .main-page-col;

    border: 0;
    border-left: 1px solid rgba($black, .25);
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    padding: 2rem;

    @media screen and (max-width: $mobile-breakpoint) {
      border: 0;
      border-bottom: 1px solid rgba($black, .25);
      max-width: 95vw;
      padding: 2rem .75rem;
    }

    .main-page-copy {
      .main-page-copy-desc {
        font: {
          size: 14px;
          weight: 300;
        }
      }
    }
  }
}
