@import 'src/styles/dimensions';
@import 'src/styles/themes';

.btn {
  background: $gray;
  border-radius: $subtle-radius;
  color: $black;
  font: {
    size: 13px;
    weight: 600;
  }
  margin: 0;
  padding: 0.35rem 0.7rem;

  &:hover {
    background: rgba($black, .075);
    cursor: pointer;
  }
}

.btn-dark {
  @extend .btn;
  background: $black;
  color: $white;

  &:hover {
    background: rgba($black, .85);
  }
}

.btn-constructive {
  @extend .btn-dark;
  background: $blue;

  &:hover {
    background: rgba($blue, .85);
  }
}

.btn-destructive {
  @extend .btn-dark;
  background: $red;

  &:hover {
    background: rgba($red, .85);
  }
}
