@import 'src/styles/dimensions';
@import 'src/styles/themes';

.btn {
  align-items: center;
  background: $gray;
  border-radius: $subtle-radius;
  color: $black;
  display: flex;
  flex-direction: row;
  font: {
    size: 13px;
    weight: 600;
  }
  justify-content: center;
  padding: .35rem .7rem;

  &:disabled {
    background: rgba($gray, .05);
    color: rgba($black, .3);
  }

  &:hover {
    background: rgba($gray, .8);
    cursor: pointer;
  }

  img, svg {
    height: 18px;
    padding: 0 .1rem;
    width: 18px;
  }
}

@mixin btn-themed($bg-color, $fg-color) {
  @extend .btn;

  background: $bg-color;
  color: $fg-color;

  &:hover {
    background: rgba($bg-color, .85);
  }

  &:disabled {
    background: rgba($black, .1);
    color: rgba($black, .3);

    &:hover {
      cursor: not-allowed;
    }
  }
}

.btn-dark {
  @include btn-themed($black, $white);
}

.btn-primary {
  @include btn-themed($blue, $white);
}

.btn-constructive {
  @include btn-themed($teal, $white);
}

.btn-destructive {
  @include btn-themed($red, $white);
}
